@inherits LayoutComponentBase

<div class="page">
    <!-- <div class="sidebar">
        <NavMenu />
    </div> -->

    <main>
        <!-- <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div> -->
        
        <div class="content">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@* @inherits LayoutComponentBase *@

@* <MudLayout>
    <MudAppBar Color="Color.Primary" Elevation="4">
        <MudText Typo="Typo.h6">My MudBlazor App</MudText>
    </MudAppBar>

    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout> *@