@page "/Debug_page"
@rendermode InteractiveServer
@inject IJSRuntime JS
@inject DataCenter DataCenter
@inject HeartbeatService Heartbeat
@using demoVer.Components.Layout
@using System.Text.Json
@using System.IO
@using demoVer.Utils
@using demoVer.Models

<p>電壓：@DataCenter.INV_MOD_READ_Data["READ_VIN"].DisplayValue</p>

@code
{

    private CommandData? vinData;

    protected override async Task OnInitializedAsync()
    {
        await SimulateJsonInputAsync();
        Heartbeat.OnTick += OnHeartbeatTick;   
    }

    
    public async Task SimulateJsonInputAsync()
    {
        var filePath = "test_INVData.json";
        var rawList = await DataCenter.LoadMockJsonAsync(filePath);
        DataCenter.LoadSingleDeviceINVData(rawList);
    }

    private Task OnHeartbeatTick()
    {
        InvokeAsync(StateHasChanged);
        return Task.CompletedTask;
    }

    public void Dispose()
    {
        Heartbeat.OnTick -= OnHeartbeatTick;
    }
}