@page "/"
@using demoVer.Components.Layout
@inject IJSRuntime JS
@rendermode InteractiveServer

<PageTitle>NTN module</PageTitle>

<TopRow />

<div class="column-container">
    <div class="row1-container">
        <div class="row1-leftPart">
            Inverter OFF/ON：
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider"></span>
            </label>
        </div>

        <div class="row1-rightPart">
            Model Name：
            <div class="highlighted-content">
                NTN-5K-248
            </div>
        </div>
    </div>
    
    <div class="row2-container">
        <OverviewCard />
        <RunningDiagramCard />
        <StatisticsCard />
    </div>
    
    <div class="row3-container">
        <WattDiagram />
        <BatteryChart />
    </div>
</div>



@code
{
    #region RunAtStart
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {//用這個function要搭配  @rendermode InteractiveServer 放在檔案開頭
    
        if (firstRender)
        {   
            Console.WriteLine("First Render");
            try{
                //[Debug] try drag function
                // var dotNetRef = DotNetObjectReference.Create(this);
                // await JS.InvokeVoidAsync("initSortableRows", dotNetRef);
            }
            catch(Exception ex)
            {
                Console.WriteLine("Error : " + ex.Message);
            }
        }
    }
    #endregion //RunAtStart

    
    
    // #region dragFunction
    // [JSInvokable]
    // public Task UpdateRowOrders(string[] row1, string[] row2)
    // {
    //     var all = 
    // }
    // #endregion //dragFunction

}