.column-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.row1-container{
    display: flex;
    justify-content: space-between;
    gap:1rem;
    padding: 1rem;
    width: calc(100% - 5px);
    background-color: white;
    border-radius: 8px;
    box-sizing: border-box;
}

.module-container{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: -2.5px;
    margin-right: 0px;
}


.module-wrapper{
    margin: 2.5px;
    box-sizing: border-box;
}

.module-card{
    width: 100%;
    box-sizing: border-box;
    cursor: grab;
    touch-action: none;
}

.w25{
    width: calc(25% - 5px);
}

.w50{
    width: calc(50% - 5px);
}

.row2-container{
    display: flex;
    flex-direction: row;
    gap:1rem;
}

.row3-container{
    display: flex;
    flex-direction: row;
    gap:1rem;

}

.row1-leftPart{
    display: flex;
    align-items: center;
    gap:0.5rem;
}

.row1-rightPart{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/***** Slide Button *****/
/* 外框 */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
  }
  
  /* 隱藏原生 checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* 滑動區 */
  .slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 26px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
  }
  
  /* 滑動圓點 */
  .slider:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  /* 當勾選時改變背景顏色與位置 */
  .switch input:checked + .slider {
    background-color: #4cd964;
  }
  
  .switch input:checked + .slider:before {
    transform: translateX(24px);
  }
/************************/

/***** ModelName *****/
.highlighted-content {
    background-color: #ffe5d9;  /* 柔和珊瑚橘淺色 */
    color: #d94f28;             /* 濃郁珊瑚橘字體 */
    padding: 2px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(217, 79, 40, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 600;
}
/************************/


/***** drag css *****/
.module-card-dragable{
    user-select: none;
    cursor: grab;
    box-shadow: 0 2px 8px #0001;
    transition: box-shadow 0.2s;
}
/*******************/

@media(max-width:1200px)
{
    .column-container{
        padding-top: 60px; /*same length as ".top-row" in the TopRow.razor.css*/

        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 65px;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        box-sizing: border-box;

        user-select: none;
        -webkit-user-select: none;
    }

    /***** row1 *****/
    .row1-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        justify-content:center;
        padding: 5px;
        width: 100%;
    }
    /****************/

    /***** row2 *****/
    .row2-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:5px;
    }
    /****************/

    /***** row3 *****/
    .row3-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap:5px;
    }
    /****************/
    .module-container{
        display: flex;
        flex-wrap: wrap;
        width:100%;
        margin: 0px;
    }
    
    
    .module-wrapper{
        margin: 0;
        margin-bottom: 2.5px;
        box-sizing:content-box;
    }
    
    .module-card{
        cursor: grab;
        touch-action: none;
    }

    .w25{
        width:100%;
    }

    .w50{
        width:100%;
    }
}