@namespace demoVer.Shared
@inject IJSRuntime JS
<div class="Battery_diagram-container">
    <canvas id="batterychart"></canvas>
    <button class="top-right-button">⋯</button>
</div>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            try{
                
                //[Debug] draw chart
                await JS.InvokeVoidAsync("drawBatteryChart");
            }
            catch(Exception ex)
            {
                Console.WriteLine("Error : " + ex.Message);
            }
        }
    }
}