@namespace demoVer.Shared
@inject IJSRuntime JS
@inherits LayoutComponentBase
<div class="Battery_diagram-container @CssClass" @attributes="AdditionalAttributes">
    <canvas id="batterychart"></canvas>
    @if(showEditButton)
    {
        <button class="top-right-button" @onclick="openEditMenu">⋯</button>
    }

</div>

@code
{
    [Parameter] public string CssClass {get; set; }
    [Parameter(CaptureUnmatchedValues  = true)] public Dictionary<string, object> AdditionalAttributes {get; set; }
    [Parameter] public bool showEditButton{get; set; }
    [Parameter] public EventCallback<string> Inform_Home_openEditMenu {get; set;}
    private async Task openEditMenu()
    {
        if(Inform_Home_openEditMenu.HasDelegate)
        {
            //Pass the razor component name to HOME, the name can be found definition in the HOME CardInfos List.
            await Inform_Home_openEditMenu.InvokeAsync("BatteryChart");
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            try{
                
                //[Debug] draw chart
                await JS.InvokeVoidAsync("drawBatteryChart");
            }
            catch(Exception ex)
            {
                Console.WriteLine("Error : " + ex.Message);
            }
        }
    }
}