@namespace demoVer.Shared
@inherits LayoutComponentBase
<div class="infoCard-container @CssClass" @attributes="AdditionalAttributes">
    <div class="infoCard-container top">
        <h4>請編輯卡片</h4>
        @if(showEditButton)
        {
            <button class="top-right-button" @onclick="openEditMenu">⋯</button>
        }
    </div>
    <div class="infoCard-container bottom">
        @foreach(var block in InfoBlocks)
        {
            <InfoDataItem IconPath="@block.IconPath"
                            AltText="@block.AltText"
                            DataPairs="@block.DataPairs" />
        }
    </div>
</div>

@code
{
    [Parameter] public string CssClass {get; set; }
    [Parameter(CaptureUnmatchedValues  = true)] public Dictionary<string, object> AdditionalAttributes {get; set; }
    [Parameter] public bool showEditButton {get; set; }
    [Parameter] public EventCallback<string> Inform_Home_openEditMenu {get; set;}
    
    private async Task openEditMenu()
    {
        if(Inform_Home_openEditMenu.HasDelegate)
        {
            //Pass the razor component name to HOME, the name can be found definition in the HOME CardInfos List.
            await Inform_Home_openEditMenu.InvokeAsync("infoCard");
        }
    }

    public class InfoBlock
    {
        public string IconPath { get; set; }
        public string AltText { get; set; }
        public List<(string Label, string Value)> DataPairs { get; set; }
    }

    public List<InfoBlock> InfoBlocks = new()
    {
        // new InfoBlock
        // {
        //     IconPath = "images/transmission-tower.png",
        //     AltText = "Input Info",
        //     DataPairs = new()
        //     {
        //         ("輸入電壓：", "220V"),
        //         ("輸入頻率：", "60Hz")
        //     }
        // },
        // new InfoBlock
        // {
        //     IconPath = "images/fridge.png",
        //     AltText = "Output Info",
        //     DataPairs = new()
        //     {
        //         ("輸出電壓：", "48V"),
        //         ("輸出頻率：", "0Hz")
        //     }
        // },
    };


}