@namespace demoVer.Shared
@inherits LayoutComponentBase
<div class="card-rough-container @CssClass" @attributes="AdditionalAttributes">
    <div class="card-rough-container top">
        <h4>總覽</h4>
        <button class="top-right-button">⋯</button>
    </div>
    <div class="card-rough-container bottom">
        <div class="overview-inner-card">
            <div class="smallIcon">
                <img src="images/transmission-tower.png" alt="Transmission Tower" style="width:48px; height:48px" />
            </div>
            <div class="overview-inner-card rightPart">
                <div class="overview-inner-card valueBlock">
                    <div>輸入電壓：</div>
                    <div id="input_volt">220V</div>
                </div>
                <div class="overview-inner-card valueBlock">
                    <div>輸入頻率：</div>
                    <div id="input_freq">60Hz</div>
                </div>
            </div>
        </div>
        <div class="overview-inner-card">
            <div class="smallIcon">
                <img src="images/fridge.png" alt="Transmission Tower" style="width:48px; height:48px" />
            </div>
            <div class="overview-inner-card rightPart">
                <div class="overview-inner-card valueBlock">
                    <div>輸出電壓：</div>
                    <div id="output_volt">48</div>
                </div>
                <div class="overview-inner-card valueBlock">
                    <div>輸出頻率：</div>
                    <div id="output_freq">0Hz</div>
                </div>
            </div>
        </div>
        <div class="overview-inner-card">
            <div class="smallIcon">
                <img src="images/car-battery.png" alt="Transmission Tower" style="width:48px; height:48px" />
            </div>
            <div class="overview-inner-card rightPart">
                <div class="overview-inner-card valueBlock">
                    <div>電池電量：</div>
                    <div id="battery_level">30%</div>
                </div>
            </div>
        </div>
        <div class="overview-inner-card">
            <div class="smallIcon">
                <img src="images/charge.png" alt="Transmission Tower" style="width:48px; height:48px" />
            </div>
            <div class="overview-inner-card rightPart">
                <div class="overview-inner-card valueBlock">
                    <div>負載功率：</div>
                    <div id="Load_Watt">622KW</div>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter] public string CssClass {get; set; }
    [Parameter(CaptureUnmatchedValues  = true)] public Dictionary<string, object> AdditionalAttributes {get; set; }
}