@namespace demoVer.Shared
<div class="Statistics-container">
    <div class="Statistics-container top">
        <span>統計</span>
        <button class="top-right-button">⋯</button>
    </div>
    <div class="Statistics-container top">
        <span id="current_strategy">當前用電策略: test</span>
    </div>
    <div class="Statistics-container bottom">
        <div class="Statistics-inner-card">
            <div class="smallIcon">
                <img src="images/plug.png" alt="plug" style="width:48px; height:48px" />
            </div>
            <div>當日充電量：</div>
            <div id="charging_capcity_today">test</div>
            <div>KWH</div>
        </div>
        <div class="Statistics-inner-card">
            <div class="smallIcon">
                <img src="images/plug.png" alt="plug" style="width:48px; height:48px" />
            </div>
            <div>累積充電量：</div>
            <div id="charging_capcity_total">test</div>
            <div>KWH</div>
        </div>
        <div class="Statistics-inner-card">
            <div class="smallIcon">
                <img src="images/lighting.png" alt="lighting" style="width:48px; height:48px" />
            </div>
            <div>當日放電量：</div>
            <div id="discharging_capcity_today">test</div>
            <div>KWH</div>
        </div>
        <div class="Statistics-inner-card">
            <div class="smallIcon">
                <img src="images/lighting.png" alt="lighting" style="width:48px; height:48px" />
            </div>
            <div>累積放電量：</div>
            <div id="discharging_capcity_total">test</div>
            <div>KWH</div>
        </div>
    </div>
</div>