@namespace demoVer.Shared
@inherits LayoutComponentBase
<div class="Statistics-container @CssClass" @attributes="AdditionalAttributes">
    <div class="Statistics-container top">
        <span>統計</span>
        <button class="top-right-button">⋯</button>
    </div>
    <div class="Statistics-container top">
        <span id="current_strategy">當前用電策略: 無</span>
    </div>
    <div class="Statistics-container bottom">
        <div class="Statistics-inner-card">
            <div class="smallIcon">
                <img src="images/plug.png" alt="plug" style="width:48px; height:48px" />
            </div>
            <div>當日充電量：</div>
            <div id="charging_capcity_today">116.38</div>
            <div>KWH</div>
        </div>
        <div class="Statistics-inner-card">
            <div class="smallIcon">
                <img src="images/plug.png" alt="plug" style="width:48px; height:48px" />
            </div>
            <div>累積充電量：</div>
            <div id="charging_capcity_total">3366.73</div>
            <div>KWH</div>
        </div>
        <div class="Statistics-inner-card">
            <div class="smallIcon">
                <img src="images/lighting.png" alt="lighting" style="width:48px; height:48px" />
            </div>
            <div>當日放電量：</div>
            <div id="discharging_capcity_today">615.59</div>
            <div>KWH</div>
        </div>
        <div class="Statistics-inner-card">
            <div class="smallIcon">
                <img src="images/lighting.png" alt="lighting" style="width:48px; height:48px" />
            </div>
            <div>累積放電量：</div>
            <div id="discharging_capcity_total">1676.91</div>
            <div>KWH</div>
        </div>
    </div>
</div>
@code
{
    [Parameter] public string CssClass {get; set; }
    [Parameter(CaptureUnmatchedValues  = true)] public Dictionary<string, object> AdditionalAttributes {get; set; }
}